* {
    box-sizing: border-box;
}

.page {
    width: 1440px;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #141b1c;
    font-family: Montserrat, sans-serif;
}

.cards {
    display: flex;
    margin: 115px 132px;
    position: relative;
    z-index: 10;
    .price-card {
        padding-top: 33px;
        display: flex;
        flex-direction: column;
        width: 380px;
        height: 773px;
        background-color: #334247;
        margin-right: 18px;
        text-align: center;
        .subtitle {
            font-size: 20px;
            line-height: 24.38px;
            margin: 0;
            font-weight: 300;
            color: #fff;
        }
        .price-card__price {
            line-height: 67px;
            font-size: 55px;
            height: 105px;
            padding: 19px 128px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
        ul {
            margin: 0;
            margin-bottom: 39px;
            padding-left: 0;
            li {
                height: 50px;
                text-align: left;
                color: #fff;
                font-weight: 300;
                font-size: 15px;
                display: flex;
                align-items: center;
                padding-left: 20px;
                img {
                    margin-right: 20px;
                }
            }
        }
        .price-card__order-btn {
            width: 155px;
            height: 40px;
            font-size: 14px;
            line-height: 17px;
            border-radius: 20px;
            margin: 0 auto;
            margin-bottom: 40px;
            border: none;
            color: #fff;
        }
    }
}

.price-card__description {
    display: flex;
    margin: 0;
    margin: 40px 27px;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
}

ul li:nth-child(odd) {
    background-color: #2A3438;
}

.basic {
    &__price {
        background-color: #5BB189;
    }
    &__button {
        background-color: #5BB189;
    }
}

.business {
    &__price {
        background: #3A6BA5;
    }
    &__button {
        background-color: #3A6BA5;
    }
}

.webshop {
    &__price {
        background: #EC632A;
    }
    &__button {
        background: #EC632A;
    }
}

.advateges__list-basic li:nth-child(odd) {
    background-color: #2A3438;
}

.price-card__title {
    color: #fff;
    font-size: 35px;
    line-height: 31px;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 700;
    padding-bottom: 0;
}

.card__business {
    position: relative;
}

.badge {
    width: 147px;
    height: 105px;
    margin: 0;
    color: #fff;
    right: 0px;
    top: 0px;
    position: absolute;
    margin-left: auto;
    overflow: hidden;
}

.badge p {
    transform: rotate(45deg);
    width: 200px;
    height: 25px;
    background: #DC3F45;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    font-weight: 700;
}

.options-list__webshop {
    li {
        list-style-image: url(images/verification-checkmark-symbol_orange.png);
    }
}