@import "colors.scss";
* {
  box-sizing: border-box;
}
.page {
  width: 1440px;
  height: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: #141b1c;
  font-family: Montserrat, sans-serif;
}

.cards {
  display: flex;
  margin: 115px 132px;
  position: relative;
  z-index: 10;
  .price-card {
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 773px;
    background-color: #334247;
    margin-right: 18px;
    text-align: center;
    .subtitle {
      font-size: 20px;
      line-height: 24.38px;
      margin: 0;
      font-weight: 300;
      color: $white;
    }
    .price-card__price {
      line-height: 67px;
      font-size: 55px;
      height: 105px;
      padding: 19px 128px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
    }
    ul {
      margin: 0;
      margin-bottom: 39px;
      padding-left: 0;
      li {
        height: 50px;
        text-align: left;
        color: $white;
        font-weight: 300;
        font-size: 15px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        img {
          margin-right: 20px;
        }
      }
    }
    .price-card__order-btn {
      width: 155px;
      height: 40px;
      font-size: 14px;
      line-height: 17px;
      border-radius: 20px;
      margin: 0 auto;
      margin-bottom: 40px;
      border: none;
      color: $white;
    }
  }
}

.price-card__description {
  display: flex;
  margin: 0;
  margin: 40px 27px;
  color: $white;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
}

ul li:nth-child(odd) {
  background-color: $oddLi;
}

.basic {
  &__price {
    background-color: $bcBasic;
  }
  &__button {
    background-color: $bcBasic;
  }
}

.business {
  &__price {
    background: $bcBusiness;
  }
  &__button {
    background-color: $bcBusiness;
  }
}

.webshop {
  &__price {
    background: $bcWebshop;
  }
  &__button {
    background: $bcWebshop;
  }
}

.advateges__list-basic li:nth-child(odd) {
  background-color: $oddLi;
}

.price-card__title {
  color: $white;
  font-size: 35px;
  line-height: 31px;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 700;
  padding-bottom: 0;
}

.card__business {
  position: relative;
}

.badge {
  width: 147px;
  height: 105px;
  margin: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-left: auto;
  overflow: hidden;
  color: $white;
}

.badge p {
  width: 200px;
  height: 25px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 30px;
  background: $badge;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  

}

.options-list__webshop {
  li {
    list-style-image: url(images/verification-checkmark-symbol_orange.png);
  }
}
